* {
  margin: 0;
  padding: 0;
  text-align: center; }

body.plain {
  background-color: #2E3C52;
  text-align: center; }
  body.plain ul {
    list-style-type: none;
    height: 80px;
    margin: auto;
    float: center; }
  body.plain li {
    float: center;
    display: inline-block; }
  body.plain #header img {
    height: 200px; }
  body.plain #navigation {
    margin-top: 30px;
    font-size: 25px; }
    body.plain #navigation a {
      color: black;
      text-decoration: none; }
      body.plain #navigation a:hover {
        text-shadow: 0px 10px 10px #57588A; }
  body.plain #page {
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #8DA0BD;
    float: center;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-size: 12px; }
